<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar">

        <!-- sidebar menu-->
        <ul class="sidebar-menu" data-widget="tree">
            <li>
                <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <i class="ti-clipboard"></i>
                    <span>خانه</span>
                </a>
            </li>
            <li>
            <li>
                <a asp-area="Admin" asp-controller="ThingIDo" asp-action="Index">
                    <i class="ti-clipboard"></i>
                    <span>کار هایی که انجام میدهم</span>
                </a>
            </li>
            <li>
            <li>
                <a asp-area="Admin" asp-controller="SocialMedia" asp-action="Index">
                    <i class="ti-clipboard"></i>
                    <span>لیست شبکه های اجتماعی</span>
                </a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="AboutMe" asp-action="Index">
                    <i class="ti-clipboard"></i>
                    <span>درباره من</span>
                </a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="ItemIDo" asp-action="Index">
                    <i class="ti-clipboard"></i>
                    <span>آیتم ها</span>
                </a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Information" asp-action="Index">
                    <i class="ti-clipboard"></i>
                    <span>اطلاعات</span>
                </a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="CustomerFeedback" asp-action="Index">
                    <i class="ti-clipboard"></i>
                    <span>لیست نظرات</span>
                </a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="CustomerLogo" asp-action="Index">
                    <i class="ti-clipboard"></i>
                    <span>لیست موسسه های که کار کردم</span>
                </a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Education" asp-action="Index">
                    <i class="ti-clipboard"></i>
                    <span>لیست تحصیلات</span>
                </a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="PortfolioCategory" asp-action="Index">
                    <i class="ti-clipboard"></i>
                    <span>دسته بندی نمونه کار ها</span>
                </a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Portfolio" asp-action="Index">
                    <i class="ti-clipboard"></i>
                    <span>نمونه کار ها</span>
                </a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Experience" asp-action="Index">
                    <i class="ti-clipboard"></i>
                    <span>لیست تجربه ها</span>
                </a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Skill" asp-action="Index">
                    <i class="ti-clipboard"></i>
                    <span>لیست مهارت ها</span>
                </a>
            </li>
        </ul>
    </section>
</aside>