<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="~/Site/assets/img/logo.png">
<title> Admin @ViewData["Title"]</title>
<link rel="stylesheet" href="~/Admin-/vendor_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Admin-/css/bootstrap-extend.css">
<link rel="stylesheet" href="~/Admin-/css/master_style.css">
<link rel="stylesheet" href="~/Admin-/css/skins/_all-skins.css">


<link href="~/lib/notification/notifications.css" rel="stylesheet" />
<link href="~/admin-/custome.css" rel="stylesheet" />
<link href="~/lib/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/lib/wait-me/waitme.css" rel="stylesheet" />
<link href="~/lib/sweet-alert-2/sweetalert2.min.css" rel="stylesheet" />