<!-- start footer area -->
<footer lang="en" class="footer" dir="ltr">
    <div class="footer-text">
        <p>Copyright &copy; 2023 by hadi | All Rights Reseved</p>
    </div>
    <div class="footer-iconTop">
        <a href="#profile"><i class="fa-solid fa-arrow-up"></i></a>
    </div>
</footer>
<!-- end footer area -->