
<title>رزومه هادی فخیمی</title>
<!-- custom css file -->
<link href="~/site/css/style.css" rel="stylesheet" asp-append-version="true" />
<link href="~/site/css/media-queries.css" rel="stylesheet" />
<!-- bootstrap css file -->
<link href="~/site/css/bootstrap.css" rel="stylesheet" />
<!-- font awesome css file -->
<link href="~/site/css/font-awesome.css" rel="stylesheet" />
<link href="~/lib/sweet-alert-2/sweetalert2.min.css" rel="stylesheet" />
<!-- bootstrap js file -->
<script src="~/site/js/bootstrap.js"></script>